wifi_password: changeToYourWifiPass123
# api_password: yourEsphomeApiPass123
api_key: "yourEsphomeApiKey"
ota_password: yourOtaPass123

# Your primary Wi-Fi SSID and password
# wifi_ssid: "yourwifiSsid1"
# wifi_password: "yourwifiPass1"

# Your optinal senondary Wi-Fi SSID and password
# wifi_ssid: "yourwifiSsid2"
# wifi_password: "yourwifiPass2"